body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #61dafb;
}

header {
    background-color: #282c34;
    color: white;
    text-align: center;
    box-shadow: 0px 9px 8px 0px rgba(34, 60, 80, 0.28);
    margin-bottom: 0px;
    padding: 1px;
}

main {
    margin: 0px;
    text-align: center;
}

h1{
    color:white;
    text-decoration: none;
    font-size: 2vw;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

a {
    color: #61dafb;
    text-decoration: none;
    font-size: 1vw;
    text-decoration: underline;
    padding: 30px;
}

.main-link:hover,
.main-link:focus {
  color: #f8d46e;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    font-size: 1vw;
    box-shadow: 0px 0px 8px 9px rgba(34, 60, 80, 0.28);
    padding: 10px;
    width: 100%;
}
@media (max-width: 768px) {
    .content {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .content {
      width: calc(100% - 20px);
    }
  }
  