.character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.character-card {
    background-color: rgba(81, 159, 254, 0.411);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 10px;
    text-align: center;
}

.character-card.visible {
    opacity: 1; 
    transform: translateY(0);  
}

.character-card:hover img {
    transform: scale(1.5);
    box-shadow: 0 0 15px 5px rgba(255, 255, 0, 0.8);
}

.character-card img {
    width: auto;  
    height: 300px;
    object-fit: contain;
    transition: box-shadow 0.3s ease;
}

.character-info {
    padding: 20px;
    background-color: #1c1c1c;
}

.character-info h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 28px;
    color: #c84107;
}

.character-info h4 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 20px;
    color: #ccc;
}

.character-info p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    color: #e0b507;
}