.image-container {
    display: inline-block;
    width: 100vw;
    height: 100vh;
}

.image {
    display: block;
    width: 100vw;
    height: 99vh;
    position: relative
}

.text-overlay {
    display: block;
    position: absolute;
    bottom: 1%;
    left: 5%;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5vw;
    width: 30vw;
}

