.image-container {
    width: auto;
    height: 100%;
    position: relative;
}

.image {
    display: flexbox;
    width: auto;
    height: 100vh;
    object-fit: contain;
    max-width: 100vw;
}

.text-overlay {
    position: absolute;
    top: 45%;
    left: 10%;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5vw;
    width: 50vh;
    height: 30hw;
    max-width: 75vw;
}

