 .image-container {
    display: flex;
    width: 99.9vw;
    height: 38vw;
    position: relative;
}

main {
    display: flex;
    background-image: url('https://dble.bn-ent.net/shared/img/keyvisual.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 99.9vw;
    height: 100vh;

}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 10%;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5vw;
    width: 50vh;
    height: 30hw;
    max-width: 75vw;
}
