.planets-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.planet-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 20vw;
    padding: 10px;
    text-align: center;
}

.planet-card.visible {
    opacity: 1; 
    transform: translateY(0);  
}

.planet-card:hover img {
    transform: scale(1.5);
}

.planet-card img {
    width: auto;  
    height: 20vh;
    object-fit: contain;
}

.planet-info {
    padding: 20px;
    background-color: #023745;
}

.planet-info h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 68px;
    color: #0c0c0c;
}

.planet-info h4 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 20px;
    color: #ccc;
}

.planet-info p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    color: #e0b507;
}